body {
  background: antiquewhite;
  font-family: Helvetica;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  float: left;
  list-style: none;
  margin: 10px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
